meta   
{
	title: "Colored Building entities for URBIS/GRB/PICC migration";
	author: "gplas"; 
	version: "1.3"; 
	description: "Style to classify buildings for BE imports (English) GRB, PICC or URBIS entities.  Helps to select merging or selecting correct tags (like date, references";
    link: "https://bitless.be/osm/mapcss/grbosm.mapcss";
        watch-modified: true;
}

meta[lang=nl]
{
        title: "Gekleurde URBIS/GRB/PICC gebouwen";
        description: "Stijl om URBIS, GRB en PICC gebouwen te doen opvallen tussen nieuwe en bestaande OSM data, vooral nuttig bij het mergen van tags";
        link: "https://github.com/gplv2/grb-mapcss";
}


area[source:geometry:ref=~/Urbis.*/] 
{
    text: "source:geometry:ref";
	text-color: white; 
	font-size: 15;
	z-index: 1;
	color: #00FA9A; 
	fill-color: #8A2BE2; 
	width: 3;
	dashes: 10,2;
}

area[source:geometry:ref=~/Gbg.*/]
{
    text: eval(concat(tag("source:geometry:ref"), " - ", tag("source:geometry:date")));
	text-color: white; 
	font-size: 15;
    text-position: center;
    text-offset: -19;
	z-index: 1;
	color: blue; 
	fill-color: blue; 
	width: 3;
	dashes: 10,2;
}

area[source:geometry:ref=~/Gbg.*/]:new
{
    text: eval(concat(tag("source:geometry:ref"), " - ", tag("source:geometry:date")));
	text-color: yellow; 
	font-size: 15;
    text-position: center;
    text-offset: 19;
	z-index: 1;
	color: yellow; 
	fill-color: yellow; 
	width: 3;
	dashes: 10,2;
}

area[source:geometry:ref=~/Gba.*/] 
{
    text: "source:geometry:ref";
	text-color: white; 
	font-size: 13;
	z-index: 1;
	color: #0000FF; 
	fill-color: #87CEEB; 
	width: 3;
	dashes: 10,2;
}

area[source:geometry:ref=~/Gba.*/]:new
{
    text: eval(concat(tag("source:geometry:ref"), " - ", tag("source:geometry:date")));
	text-color: yellow; 
	font-size: 13;
	z-index: 1;
	color: #0000FF; 
	fill-color: #87CEEB; 
	width: 3;
	dashes: 10,2;
}

area[source:geometry:ref=~/Knw.*/] 
{
    text: "source:geometry:ref";
	text-color: black; 
	font-size: 15;
	z-index: 1;
	color: #0000FF; 
	fill-color: #228B22; 
	width: 3;
	dashes: 10,2;
}

area[source:geometry:ref=~/Picc.*/] 
{
    text: "source:geometry:ref";
	text-color: black; 
	text-color: blue; 
	font-size: 15;
	z-index: 1;
	color: #0000FF; 
	fill-color: #D2691E; 
	width: 3;
	dashes: 10,2;
}

